*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #111;
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 320px;
    height: 400px;
    background: #fff;
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}